
<header>
<details class="menuDisplay">
    <summary class="menuTitle">
        <img class="profileImage" src="./images/profile-image.png" alt="profile_pic">
        {{username}}
    </summary>
    <a class="clickableEvent" href="#" id="logout">Logout</a>
</details>
<h1>The Present List</h1>
<div class="flexRow">
    <button id="newListButton">+</button>
    <details class="listSelection menuDisplay">
        <summary class="menuTitle">Lists</summary>
        {{#each lists}}
            <a class="clickableEvent listBtn" listId="{{id}}" theme="{{theme}}">{{title}}</a>
        {{/each}}
    </details>
</div>

</header>

<nav class="navbar">
<ul>
    <li class="li-inline nav-item"><a href="/">Home</a></li>
</ul>
</nav>

<script src="/js/profile.js"></script>