
<header>
<details>
    <summary><img src="../../images/profile-image.png" alt="profile_pic">{{username}}</summary>
    <ul class="li-inline nav-item"><a href="#" id="logout">Logout</a></ul>
</details>
<h1>The Present List</h1>
<button id="newListButton">+</button>
</header>

<nav class="navbar">
<ul>
    <li class="li-inline nav-item"><a href="/">Home</a></li>
    <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
    <li class="li-inline nav-item"><a href="/login">Login</a></li>
    
</ul>
</nav>