
<header>
<details class="menuDisplay profileDropdown">
    <summary class="menuTitle">
        <img class="profileImage" src="./images/profile-image.png" alt="profile_pic">
        {{username}}
    </summary>
    <a class="logoutBtn" href="#" id="logout">Logout</a>
</details>

<h1 class="headerTitle oleo-script">The Present List</h1>
<div class="flexRow">
    <a href="/newlist" id="newListButton" title="Create New List">+</a>
    
    <details class="listSelection menuDisplay" title="View Your Lists">
        <summary class="menuTitle">Lists</summary>
        <div class="listsDropdown">
            {{#each lists}}
                <a class="clickableEvent listBtn" listId="{{id}}" theme="{{theme}}">{{title}}</a>
            {{/each}}
        </div>

    </details>
</div>
</header>

<nav class="navbar">
<ul>
    <li class="li-inline nav-item"><a href="/">Home</a></li>
</ul>
</nav>

<script src="/js/profile.js"></script>
<script src="/js/logout.js"></script>