<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Present List</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/style.css">
</head>

  <main class="col-auto">
    {{{body}}}
  </main>

  <footer>
    &copy; The Present List. Made by Shane Mindreau, Affan Kamal, and Joseph Aro
  </footer>
</body>

</html>
<script src="/js/logout.js"></script>
