<ul>
    <li class="li-inline nav-item"><a href="/">Home</a></li>
    <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
    <li class="li-inline nav-item"><a href="/login">Login</a></li>
    
</ul>