<div class="centerContents">
    <h1 class="homepageTitle">The Present List</h1>
    <p class="description">This is a project made for the purpose of helping people keep track of holiday gift giving. Often times with many family members and friends, all with different tastes, it can be hard to keep track of what you are planning to gift. We've all had moments where we would see something in the store or online and think, "Oh! They would love that!" and you would jot it down on a slip of paper or somewhere on your phone just to lose where you wrote it and forget months later. It's even worse when you remember it after the holiday or after that person's birthday. Thus, here we created a place to store all those treasured gift ideas, making it easy to plan for any holiday, birthday, or event!</p>
    <li class="centerContents"><a href="/login">Login</a></li>
    <li class="centerContents"><a href="/signup">Signup</a></li>
</div>