<div class="portalCard">
  <div class="portalCardHeader card-body">
    <h2 class="color-bg">Login</h2>
  </div>
  <form class="card-body">
    <div class="inputGroup">
      <label class="color-by" id="email-login">Email</label>
      <input type="text" id="username-input-login" />
    </div>
    <div>
      <label for="password-input-login" class="form-label color-by">Password</label>
      <input type="password" id="password-login" />
    </div>
    <button type="submit" id="login-btn" class="portalBtn">Login!</button>
    <a class="portalLink" type="button" href="/signup">Sign up instead</a>
  </form>
</div>

<script src="/js/login.js"></script>
<link rel="stylesheet" href="./css/jass.css">