{{>dashboard}}
<div id="listTable">
    {{!-- {{#each listData as |item|}}
        <ul>{{item.id}}</ul>
    {{/each}} --}}
</div>

<div id="newRowContainer">

</div>

<div id="createList" class="hide">
        <h1>Title of List</h1>
        <input type="text" id="listValue"/>
        <button id="saveList">SAve</button>
        </div>


        

<script src="/js/newList.js"></script>
{{!-- <script src="/js/profile.js"></script> --}}