{{>dashboard}}
<div id="listTable">
</div>

<div id="createList" class="hide">
    <div class="centerContents">
        <h1>Title of List</h1>
        <div>
            <input type="text" id="listValue"/>
            <button id="saveList">Save</button>
        </div>
    </div>
    
</div>

<script src="/js/newList.js"></script>