/* header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
} */

body {
  background-color: green;
  margin: 0px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

header {
  box-shadow: 0px 0px 10px 2px darkgreen;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0px 40px 0px 5px;
}

img {
  width: 30px;
}

details {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
}

.listSelection {
  margin-left: 30px;
}