:root {
  --base-white: #ddd;
  --basic-red: #d84922;
  --basic-green: #59a976;
  --bright-green: #47a603;
  --dark-green: #10593E;
  --basic-yellow: #f4ce1f;
}

body {
  background-color: var(--dark-green);
  margin: 0px;
  background-image: url(../images/patchwork-pattern.svg);
  /* background-image: url(../images/pattern.svg); */
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10vh auto 10px auto;
  color: var(--base-white);
  padding: 4px;
  background-color: #107d0195;
  width: fit-content;
  border-radius: 10px;
}

header {
  box-shadow: 0px 0px 10px 2px darkgreen;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0px 40px 0px 5px;
  background-color: var(--basic-green);
}
/* This is used for the profile image silhoutte */
img {
  width: 30px;
}

details {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
}

.listSelection {
  margin-left: 30px;
}

/* Erases the arrows on html <detail> tags */
details > summary {
  list-style: none;
}
/* Erases the arrows on html <detail> tags */
details summary::-webkit-details-marker {
  display: none;
}

/* Creates the display for html <details> tags initial display */
.menuDisplay {
  background-color: #38cf4c;
  border-radius: 5px;
}

/* This is for the details tag that contains all the event buttons of everyone of the user's lists */
.menuTitle {
  display: flex;
  align-items: center;
  padding: 10px;
}
/* The css for the profile image silhoutte displayed on the top left of the profile page */
.profileImage {
  margin: 0 10px 0 0;
}

/* This is for the logout button as well as for each of the user's list buttons */
.clickableEvent {
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 5px 20px 5px 10px;
  background-color: #47a603;
}

/* The default css for the <a> html tag are being redefined for asthetics */
a:link,
a:visited {
  color: whitesmoke;
  text-decoration: none;
  /* cursor: auto; */
  font-size: 18px;
}

/* The column title spaces for each list */
#column-title {
  margin: 0;
  width: 128.5px;
  background-color: #47a603;
  display: flex;
  justify-content: start;
}

/* The text area for each list item quality/section */
textarea {
  border-bottom: black 5px;
  border-style: solid;
}

/* This is for the entire list that is displayed */
#listTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* This is for the plus button that creates new lists on the top right of the profile page */
#newListButton {
  border: none;
  color: whitesmoke;
  background-color: transparent;
  cursor: pointer;
  font-size: 48px;
  font-weight: 900;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 0 0 0;
}

/* This is the css for the title that appears above the displayed list */
.listTitle {
  border: none;
  resize: none;
  background-color: #47a603;
  text-align: center;
  margin: 0 0 15px 0;
  font-size: 32px;
  font-weight: 500;
  padding: 5px;}

/* This is used to hide the div in the profile page that lets you name a newly created list */
.hide {
  display: none;

}
/* The styling for the delete button of each row in a list */
.rowDeleteBtn {
  width: 30px;
  background-color: #c90e0e ;
  background-image: url('../images/Trash-Can-Clip-Art.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: content-box;
  padding: 3px;
}

.listRow {
  display: flex;
}

/* This is for the project description on the homepage */
.description {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--basic-green);
  border-radius: 10px;
  width: 70vw;
  min-height: fit-content;
  height: 50vh;
  border: solid 6px var(--bright-green);
  padding: 20px 0 0 0;
  z-index: 100;
}

.descriptionText {
  color: var(--base-white);
  font-size: 18px;
  margin: 10px;
  text-align: center;
  font-size: 26px;
}

.descriptionBlurb {
  color: black;
  /* text-align: center; */
  font-size: 18px;
  margin: 12px;
}

em {
  text-decoration: underline;
  color: var(--basic-yellow);
}

.redirect {
  cursor: pointer;
}

.redirect:hover {
  color: var(--basic-yellow);
}

.redirectGroup {
  display: flex;
  margin: 40px 0 15px 0;
}

/* This is a class used in multiple places to center the page contents */
.centerContents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.homepageTitle {
 font-size: 48px; 
 padding: 10px;
 position: absolute;
 margin: 15px 100px 15px 15px;
 border-bottom: var(--basic-red) dashed 2px;
 border-top: var(--basic-red) dashed 2px;
}

.oleo-script {
  font-family: "Oleo Script", system-ui;
  font-weight: 400;
  font-style: normal;
}

.titleImg {
  width: 525px;
  position: absolute;
  z-index: -10;
  margin: 0 20px 0 0;
}

.titleGroup {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 5vw 10px 10px 10px;
  height: 150px;
  width: 500px;
}

@media (prefers-reduced-motion: no-preference) {
  .titleGroup:hover {
    animation: shake 0.5s ease-in-out 0s infinite alternate;
    cursor: pointer;
  }

  @keyframes shake{
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(15deg);
      transform-origin: center center;
    }
  }

}

.portalCard {
  display: flex;
  flex-direction: column;
  margin: 50px auto 20px auto;
  min-width: 220px;
  width: 20vw;
  background-color: var(--dark-green);
  padding: 60px 15px 90px 15px;
  border: solid #0d0d0d 2px;
  border-radius: 10px;
}

.card-body {
  width: 190px;
  margin: 0 auto 0 auto;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.portalBtn {
  display: flex;
  cursor: pointer;
  padding: 0.5rem 1.2rem;
  margin: 10px auto 0 auto;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: none;
  background-color: var(--base-white);
}

.portalBtn:hover {
  background-color: var(--basic-yellow);
}

.portalLink {
  display: flex;
  margin: 10px auto 0 auto;
  justify-content: center;
  font-weight: 300;
}

.portalLink:hover {
  color: var(--basic-yellow);
  font-weight: 400;
  text-decoration: none;
}

/* Colors */

.color-bg {
  color: var(--basic-green);
}

.color-by {
  color: var(--basic-yellow);
}